<%= form_for @order, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :user, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :user_id, User.all, :id, :fname, {} %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :product, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :product_id, Product.all, :id, :name, {} %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :required_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :required_date %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :shipped_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :shipped_date %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :in_cart, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :in_cart, :class => 'checkbox' %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
          orders_path, :class => 'btn' %>
  </div>
<% end %>
